<div>
  <h2>Lorem Ipsum</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem in
    sequi voluptatum, eius ducimus quia ullam suscipit, quos sapiente
    perferendis dolore inventore, similique nulla incidunt? Commodi asperiores
    cum dolorum quae? Sequi deleniti cum ipsum in, necessitatibus dolores harum
    tempora quo commodi, <strong> numquam adipisci quidem?</strong> Dolores
    iusto unde aut doloremque ipsum amet temporibus nihil explicabo? Non, neque?
    Explicabo debitis libero eum. Inventore, et expedita! Repudiandae assumenda
    rerum distinctio magnam voluptas, nihil recusandae quod perspiciatis, dolor
    nobis quam maxime voluptates voluptate dolore! Optio expedita numquam fuga
    quae enim aperiam reprehenderit dolorem placeat! Labore, cum provident
    magnam sit placeat natus nihil perspiciatis itaque dolor, possimus soluta
    eius vero error cupiditate necessitatibus.
    <strong>Eum, voluptatibus!</strong> Eaque velit doloribus ut, error debitis
    inventore eveniet numquam minima.
  </p>
</div>
